@page "/sign-up"

@inject NavigationManager NavManager

<div class="sign-up-container">
	<BackButton/>
	<div class="outer-container">
		<div class="inner-container">
			<div style="margin: auto;">
				<h1>Sign Up</h1>
				<h2 style="margin-bottom: 1.5rem;">Create an account to borrow items</h2>
				<input type="text" class="sign-up-input" style="width: 15rem;" placeholder="First name" @bind="@FirstName" @oninput="@((e) => { FirstName=(string)e.Value;})" />
				<input type="text" class="sign-up-input" style="width: 15rem;" placeholder="Last name" @bind="@LastName" @oninput="@((e) => { LastName=(string)e.Value;})" />
				<br />
				<br />
				<input type="email" class="sign-up-input" style="width: 40rem; margin-bottom: 1.5rem;" placeholder="Email" @bind="@Email" @oninput="@((e) => { Email=(string)e.Value;})" />
				<br />
				<input type="tel" class="sign-up-input" style="width: 26rem;" placeholder="(123) 456 7890" @bind="@PhoneNumber" @oninput="@((e) => { PhoneNumber=(string)e.Value;})" />
				<br />
				<br />
				<input type="password" class="sign-up-input" placeholder="Password" @bind="@Password" @oninput="@((e) => { Password=(string)e.Value;})" />
				<input type="password" class="sign-up-input" placeholder="Re-enter Password" @bind="@ReenteredPassword" @oninput="@((e) => { ReenteredPassword=(string)e.Value;})" />
				<br />
				<br />
				<br />
				<button @onclick="GetBack">Create Account</button>
			</div>
		</div>
	</div>
</div>

@code {
	private string FirstName { get; set; } = "";
	private string LastName { get; set; } = "";
	private string Email { get; set; } = "";
	private string PhoneNumber { get; set; } = "";
	private string Password { get; set; } = "";
	private string ReenteredPassword { get; set; } = "";
	private void GetBack()
	{
		NavManager.NavigateTo("/");

		if (
			FirstName == "" || 
			LastName == "" ||
			Email == "" ||
			PhoneNumber == "" ||
			Password == "" ||
			ReenteredPassword == ""
		)
		{
			System.Diagnostics.Debug.WriteLine("You have one or more empty inputs");
			return;
		}

		if (!Email.Contains("@"))
		{
			System.Diagnostics.Debug.WriteLine("Email must contain an @");
			return;
		}

		if (!PhoneNumber.Contains(""))
		{
			System.Diagnostics.Debug.WriteLine("Phone number must only contain numbers");
			return;
		}

		if (Password != ReenteredPassword)
		{
			System.Diagnostics.Debug.WriteLine("Passwords don't match");
			return;
		}

		NavManager.NavigateTo("/");
	}
}
